@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

.bodySkin{
    background-color: lightsteelblue;
    font-family: 'Roboto';
    font-weight: 500;
    color:navy;
}